<h1>Leaderboard</h1>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{username}}</td>
            <td>{{points}}</td>
        </tr>
        {{/each}}
        <tbody>
</table>
