<div class="login-screen">
    <div class="body-section" id="left-section">
        <form action="/register" method="POST">

            <label for="username">Username</label>
            <input type="text" placeholder="Username" name="username"/>

            <label for="firstname">Firstname</label>
            <input type="text" placeholder="Firstname" name="firstname"/>

            <label for="lastname">Lastname</label>
            <input type="text" placeholder="Lastname" name="lastname"/>

            <label for="password">Password</label>
            <input type="password" placeholder="Password" name="password"/>

            <input type="submit" value="Register"/>
        </form>
    </div>
</div>
